/* CSS Document */
body {
	margin:0px;
	padding:0px;	
   	font-size:13px;
	font-family:Verdana, Arial, Helvetica, sans-serif,ו;
	color:#2F2F2F;
	background:#F5FAFF;
}
a:link{color:#286DCB;text-decoration:none;}
a:visited{color:#286DCB;text-decoration:none;}
a:hover{color:#D90000;text-decoration:none;}
#main_div{position:relative;z-index:1;width:982px;height:auto!important;height:300px;min-height:300px;background:#fff;padding:0px 2px 0px 2px;margin:auto;}
#top_div{position:relative;z-index:2;background:url(../images/bg_head.gif) repeat-x;height:87px;}
#logo{position:absolute;z-index:3;top:12px;left:10px;}
#hotline{position:absolute;z-index:3;top:20px;right:200px;background:url(../images/icon_all.gif) -1px -1px;overflow:hidden;width:175px;height:35px;}
#menu_div{position:relative;z-index:6;clear:both;background:url(../images/bg_menu.gif) repeat-x;height:33px;} 
#menu_div ul{margin:0px;padding:0px;list-style:none;}
#menu_div ul li{float:left;padding:0px;margin:0px;}
#menu_div ul li a.current{line-height:33px;display:block;text-align:center;font-size:13px;color:#fff;font-weight:bold;width:138px;height:33px;;background:url(../images/icon_all.gif) -1px -37px;overflow:hidden;}
#menu_div ul li a{line-height:33px;display:block;text-align:center;font-size:13px;color:#575757;font-weight:bold;width:138px;height:33px;;background:url(../images/icon_all.gif) -139px -37px;overflow:hidden;}
#menu_div ul li a:hover{line-height:33px;display:block;text-align:center;font-size:13px;color:#fff;font-weight:bold;width:138px;height:33px;;background:url(../images/icon_all.gif) -1px -37px;overflow:hidden;}
#menu_div .line_node{position:relative;z-index:4;background:url(../images/icon_all.gif) -179px -1px;width:2px;height:33px;overflow:hidden;}
#selectlanguage{position:absolute;right:10px;top:30px;}
#selectlanguage ul{margin:0px;padding:0px;}
#selectlanguage ul li{float:left;list-style:none;}
#selectlanguage .icon{position:relative;z-index:3;display:block;float:left;width:4px;height:7px;background:url(../images/icon_all.gif) no-repeat -187px -18px;top:2px;overflow:hidden;}
#selectlanguage .txt{padding-right:10px;padding-left:5px;font-family:ו;}
/*menu Bar*/
.subMenuDiv {
	BACKGROUND:url(../images/nav_list_bg.png); Z-INDEX: 6000;  PADDING-LEFT: 0px; PADDING-RIGHT: 0px;
}
.subMenuCell {
	text-align:left;
}

.L2Grey A:link {
	PADDING-LEFT: 18px;PADDING-TOP: 5px;PADDING-bottom: 5px; DISPLAY: block;  COLOR: #fff; TEXT-DECORATION: none; border-bottom:1px #BAD6EE solid;
}
.L2Grey A:visited {
	PADDING-LEFT: 18px;PADDING-TOP: 5px;PADDING-bottom: 5px;  DISPLAY: block;  COLOR: #fff;TEXT-DECORATION: none; border-bottom:1px #BAD6EE solid;
}
.L2Grey A:hover {
	PADDING-LEFT: 18px;PADDING-TOP: 5px;PADDING-bottom: 5px; COLOR: #fff; TEXT-DECORATION: none;border-bottom:1px #BAD6EE solid;background:#085899;font-weight:bold;}
#topNav_subMenu0{position:absolute;z-index:20;left:143px;top:127px;}
#topNav_subMenu1{position:absolute;z-index:20;left:283px;top:127px;}
#topNav_subMenu2{position:absolute;z-index:20;left:423px;top:127px;}
#topNav_subMenu3{position:absolute;z-index:20;left:563px;top:127px;}
#topNav_subMenu4{position:absolute;z-index:20;left:703px;top:127px;}
#topNav_subMenu5{position:absolute;z-index:20;left:843px;top:127px;}
#topNav_subMenu0 table{width:137px;}
#topNav_subMenu1 table{width:137px;}
#topNav_subMenu2 table{width:137px;}
#topNav_subMenu3 table{width:137px;}
#topNav_subMenu4 table{width:137px;}
#topNav_subMenu5 table{width:137px;}
.clearBoth{clear:both;}
#banner_div{position:relative;z-index:2;margin-top:6px;width:982px;height:292px;clear:both;overflow: hidden;}
#banner_div ul {padding: 0;margin: 0}
#banner_div ul li{list-style: none; float:left;}
#banner_div ul li img{width:982px;height:292px;}
#banner_div .dots { position: absolute;  right: 50px; bottom: 20px;}
#banner_div .dots li 
{ 

  display: inline-block; 

  width: 10px; 

  height: 10px; 

  margin: 0 4px; 

  text-indent: -999em; 

  border: 2px solid #fff; 

  border-radius: 6px; 

  cursor: pointer; 

  opacity: .4; 

  -webkit-transition: background .5s, opacity .5s; 

  -moz-transition: background .5s, opacity .5s; 

  transition: background .5s, opacity .5s;
}
#banner_div .dots li.active 
{
  background: #fff;
  opacity: 1;
}

#middle_div{position:relative;z-index:2;margin-top:11px;height:auto!important;height:210;min-height:210px;}
#middle_div_sub{position:relative;z-index:2;height:auto!important;height:310;min-height:310px;}
#profile_index_div{position:relative;z-index:3;width:590px;height:240px;float:left;}
#contacts_index{position:relative;z-index:3;width:370px;height:220px;float:right;border:1px #E3EFFD solid;}
#contacts_index #bar{height:24px;background:url(../images/bg_case_index.gif) repeat-x;font-weight:bold;line-height:24px;color:#286DCB;padding-left:8px;}
#contacts_index #content{padding:20px 5px 5px 5px;line-height:24px;}
#profile_index_div #content{/*padding:8px 0px 8px 0px;*/line-height:20px;}
#case_index_div{position:relative;z-index:3;border:1px #E5E5E5 solid;clear:Both;height:180px;margin:auto auto 10px auto;}
#case_index_div #bar{height:24px;background:url(../images/bg_case_index.gif) repeat-x;font-weight:bold;line-height:24px;color:#286DCB;padding-left:8px;}
#case_index_div #content{text-align:center;position:relative;z-index:3;top:15px;padding-left:6px;}
#footer_div{width:973px;height:50px;background:url(../images/bg_footer.gif) repeat-x bottom;color:#5A5A5A;padding-left:15px;position:relative;z-index:2;margin:auto;}
/*sub*/
#location_div{position:relative;z-index:2;height:25px;clear:both;padding-top:10px;}
#left_box_sub{position:relative;z-index:2;width:208px;float:left;}
#category_sub_left{margin:0px;padding:0px;list-style:none;}
#category_sub_left li{margin-bottom:2px;}
#category_sub_left a.on{display:block;width:178px;height:33px;background:url(../images/icon_all.gif) -1px -71px;line-height:35px;color:#fff;font-weight:bold;padding-left:30px;overflow:hidden;}
#category_sub_left a.out{display:block;width:178px;height:33px;background:url(../images/icon_all.gif) -1px -105px;line-height:35px;color:#464646;font-weight:bold;padding-left:30px;overflow:hidden;}
#category_sub_left a.out:hover{display:block;width:178px;height:33px;background:url(../images/icon_all.gif) -1px -139px;line-height:35px;color:#075EA4;font-weight:bold;padding-left:30px;overflow:hidden;}
#category_sub_left a:hover{text-decoration:none;}
#right_box_sub{position:relative;z-index:2;width:750px;float:right;}
#title_sub{position:relative;z-index:3;height:27px;border-bottom:2px #458AC8 solid;}
#title_sub .icon_red_square{position:relative;z-index:4;display:block;width:13px;height:13px;float:left;background:url(../images/icon_all.gif) no-repeat -183px -1px;position:relative;z-index:4;top:7px;}
#title_sub .txt{font-size:12px;font-weight:bold;padding-left:8px;position:relative;z-index:4;float:left;width:300px;display:block;top:8px;color:#005BAC;}
#article_p{padding-top:25px;padding-bottom:20px;line-height:22px;clear:both;}
.hr_title{clear:both;height:25px;border-bottom:1px #458AC8 solid;}
.hr_title h3{margin:0px;padding:auto auto 10px auto;font-size:13px;color:#005BAC;width:400px;float:left;}
.hr_title .date{width:180px;float:left;color:#A3A6A8;}
.hr_title  .submit{width:80px;float:right;}
.hr_title  .submit a:link{color:#D90000;text-decoration:none;}
.hr_title  .submit a:visited{color:#D90000;text-decoration:none;}
.hr_title  .submit a:hover{color:#D90000;text-decoration:underline;}
.hr_content{clear:both;}
.detail_title_icon{position:relative;z-index:4;display:block;width:4px;height:7px;float:left;background:url(../images/icon_all.gif) no-repeat -187px -18px;position:relative;z-index:4;top:5px;}
.list_div{border-bottom:1px #ccc solid;padding-bottom:8px;height:16px;padding-top:8px;padding-left:5px;}
.list_div .name{width:400px;float:left;font-weight:bold;}
.list_div .date{width:100px;float:left;border-left:1px #ccc solid;padding-left:8px;}
.list_div .more{width:70px;float:right;border-left:1px #ccc solid;padding-left:8px;}
.list_div_bar{border-bottom:1px #458AC8 solid;border-top:1px #458AC8 solid;padding-left:5px;padding-bottom:5px;height:16px;padding-top:5px;background:#C7E0F6;color:#005BAC;}
.list_div_bar .name{width:400px;float:left;font-weight:bold;}
.list_div_bar .date{width:100px;float:left;border-left:1px #458AC8 solid;padding-left:8px;}
.recommendProduct_UL_02{margin:10px auto 10px 30px;padding:0px;list-style:none;}
.recommendProduct_UL_02 li{height:185px;margin:0px;width:240px;float:left;text-align:center;}
.recommendProduct_UL_02 li .left_pic{width:180px;}
.recommendProduct_UL_02 li .left_pic img{border:1px #ccc solid;padding:5px;}
.product_name{display:block;position:relative;clear:both;padding-top:5px;text-align:center;line-height:14px;}
#product_name_details{font-size:13px;font-weight:bold;color:#005BAC;}
/*products*/
.pager-links{clear:both;text-align:center;padding-top:10px;padding-bottm:10px;}
.pager-links .t2{position:relative;z-index:10;color:#DB0000;font-weight:bold;text-align:center;width:20px;height:18px;padding-left:5px;padding-right:5px;}
.pager-links a.t3{position:relative;z-index:10;color:#2D2D2D;font-weight:bold;text-align:center;width:20px;height:18px;padding-left:5px;padding-right:5px;}
/*news*/
.news_UL_3{margin:0px 0px 5px 0px;padding:0px;list-style:none;}
.news_UL_3 li{padding:5px 0px 5px 0px;}
.news_UL_3  .title{position:relative;z-index:2;clear:both;border-bottom:1px #ccc dotted;height:20px;}
.news_UL_3 .title_news{position:relative;z-index:3;display:block;float:left;width:580px;left:5px;font-size:13px;}
.news_UL_3  .date{position:relative;z-index:3;color:#ccc;padding-left:10px;}
.news_UL_3 .icon{position:relative;z-index:3;display:block;float:left;width:4px;height:7px;background:url(../images/icon_all.gif) no-repeat -187px -18px;top:5px;overflow:hidden;}
#title_info{background:url(../images/dottedLine.gif) repeat-x bottom;font-weight:bold;color:#005BAC;padding-bottom:5px;font-size:13px;}
#news_content{padding-left:10px;padding-right:10px;padding-top:12px;padding-bottom:12px;line-height:20px;}
#news_date{display:block;background:url(../images/dottedLine.gif) repeat-x top;height:55px;padding-top:7px;}
#newsDate_left{float:left;width:250px;}
#newsDate_right{float:right;widht:150px;}
#picUL_common{margin:0px;padding:0px;list-style:none;}
#picUL_common li{float:left;width:250px;text-align:center;}
#picUL_common li .txt{padding-top:5px;clear:both;display:block;font-weight:bold;padding-bottom:5px;}
#picUL_common .pic img{width:210px;height:150px;}
.fontWhiteTR td{font-weight:bold;color:#fff;}